In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
df=pd.DataFrame({
"A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
})

In [7]:
# row where df.A is > 0
df[df["A"] > 0]

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [23]:
#using isin() for filtering
df2 = df.copy()
df2["E"] = ["one", "one", "two", "three"]
df2[df2["E"].isin(["two", "four"])]

     A          B    C  D    E    F
2  1.0 2013-01-02  1.0  3  two  foo