In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
#create a series
s=pd.Series([1,3,5,np.nan,6,8,])

In [11]:
#create a DataFrame
datas=pd.date_range('20130101', periods=6)

In [12]:
#create a dataframe by passing dictionary of obj
df=pd.DataFrame({
"A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
})

In [11]:
#get the type of df (obj)
df.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [13]:
#top rows
df.tail()

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [14]:
#index
df.index

Index([0, 1, 2, 3], dtype='int64')

In [15]:
#column
df.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [16]:
#convert to numpy arrays
df.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [19]:
#static of data
df.describe()

         A                    B    C    D
count  4.0                    4  4.0  4.0
mean   1.0  2013-01-02 00:00:00  1.0  3.0
min    1.0  2013-01-02 00:00:00  1.0  3.0
25%    1.0  2013-01-02 00:00:00  1.0  3.0
50%    1.0  2013-01-02 00:00:00  1.0  3.0
75%    1.0  2013-01-02 00:00:00  1.0  3.0
max    1.0  2013-01-02 00:00:00  1.0  3.0
std    0.0                  NaN  0.0  0.0

In [18]:
#sort by axis(asse)
df.sort_index(axis=1, ascending=False)#asceding = ascendente

     F      E  D    C          B    A
0  foo   test  3  1.0 2013-01-02  1.0
1  foo  train  3  1.0 2013-01-02  1.0
2  foo   test  3  1.0 2013-01-02  1.0
3  foo  train  3  1.0 2013-01-02  1.0

In [20]:
#sort by value
df.sort_values(by="B")

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [21]:
#row A
df["A"]

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

In [24]:
#slice
df[0:3]

Empty DataFrame
Columns: [A, B, C, D, E, F]
Index: []

In [37]:
#select all row with a select column labels 
df.loc[:,["A","B"]]

     A          B
0  1.0 2013-01-02
1  1.0 2013-01-02
2  1.0 2013-01-02
3  1.0 2013-01-02

In [38]:
#
df.loc["20130102":"20130104", ["A", "B"]]

Empty DataFrame
Columns: [A, B]
Index: []

In [40]:
#selection by position 
df.iloc[3]

A                    1.0
B    2013-01-02 00:00:00
C                    1.0
D                      3
E                  train
F                    foo
Name: 3, dtype: object

In [44]:
#slice 
df.iloc[3:5, 0:2]

     A          B
3  1.0 2013-01-02

In [46]:
#list of position

In [47]:
#slicing rows explicitly
df.iloc[1:3, :]

     A          B    C  D      E    F
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo

In [48]:
#slicing col explicitly (row and col)
df.iloc[:, 1:3]

           B    C
0 2013-01-02  1.0
1 2013-01-02  1.0
2 2013-01-02  1.0
3 2013-01-02  1.0

In [2]:
#get a value explicitly 
df.iloc[1, 1]

NameError: name 'df' is not defined