In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from Pandas.easyEx.objCreation import datas
df = pd.DataFrame({
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
})
data = pd.date_range("20130101", periods=6)

In [34]:
#new column automatically aligns the data by the indexes
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range("20130102", periods=6))
#values by label
df.at[data[0],"A"] = 0

In [35]:
#values by position
df.iat[0, 1] = 0

In [37]:
#assigning with a NumPy array
df.loc[:, "D"]=np.array([5] * len(df))

In [39]:
df

                       A                    B    C    D      E    F
0                    1.0                    0  1.0  5.0   test  foo
1                    1.0  2013-01-02 00:00:00  1.0  5.0  train  foo
2                    1.0  2013-01-02 00:00:00  1.0  5.0   test  foo
3                    1.0  2013-01-02 00:00:00  1.0  5.0  train  foo
2013-01-01 00:00:00  0.0                  NaT  NaN  5.0    NaN  NaN